USE [master]
GO
-- Prefix the db-name with your username like CS2017A_1_Company 
-- to make the db-name unique to the server
-- Should be fixed in 4 places.

IF DB_ID('Company') IS NOT NULL     -- Fix name
BEGIN
	DROP DATABASE Company			-- Fix name
END

CREATE DATABASE Company			-- Fix name
GO

USE Company						-- Fix name
GO

CREATE TABLE Department(
	DName			nvarchar(50)	NULL,
	DNumber			int				NOT NULL,
	MgrSSN			numeric(9, 0)	NULL,
	MgrStartDate	datetime		NULL,
	CONSTRAINT PK_Department PRIMARY KEY (DNumber)
)
GO


CREATE TABLE [Dependent](
	Essn			numeric(9, 0)	NOT NULL,
	Dependent_Name	nvarchar(50)	NOT NULL,
	Sex				nchar(1)		NULL,
	BDate			datetime		NULL,
	Relationship	nvarchar(50)	NULL,
	CONSTRAINT PK_Dependent PRIMARY KEY (Essn, Dependent_Name)
) 
GO

CREATE TABLE Dept_Locations(
	DNUmber			int				NOT NULL,
	DLocation		nvarchar(50)	NOT NULL,
	CONSTRAINT PK_Dept_Locations PRIMARY KEY (DNUmber, DLocation)
) 
GO


CREATE TABLE Employee(
	FName			nvarchar(50)	NULL,
	Minit			char(1)			NULL,
	LName			nvarchar(50)	NULL,
	SSN				numeric(9, 0)	NOT NULL,
	BDate			datetime		NULL,
	Address			nvarchar(50)	NULL,
	Sex				char(1)			NULL,
	Salary			numeric(10, 2)	NULL,
	SuperSSN		numeric(9, 0)	NULL,
	Dno				int				NULL,
	CONSTRAINT PK_Employee PRIMARY KEY (SSN)
)
GO

CREATE TABLE Project
(
	PName			nvarchar(50)	NULL,
	PNumber			int				NOT NULL,
	PLocation		nvarchar(50)	NULL,
	DNum			int				NULL,
	CONSTRAINT PK_Project PRIMARY KEY (PNumber)
)
GO

CREATE TABLE Works_on
(
	Essn			numeric(9, 0)	NOT NULL,
	Pno				int				NOT NULL,
	Hours			float			NULL,
	CONSTRAINT PK_Works_on PRIMARY KEY (Essn, Pno)
) 
GO

-- load table Department

INSERT INTO Department(DName, DNumber, MgrSSN, MgrStartDate) VALUES (N'Headquarters', 1, 888665555, N'1971-06-19')
INSERT INTO Department(DName, DNumber, MgrSSN, MgrStartDate) VALUES (N'Administration', 4, 123456789, N'1986-01-01')
INSERT INTO Department(DName, DNumber, MgrSSN, MgrStartDate) VALUES (N'Research', 5, 987654321, N'1978-05-22')

-- load table Dependent

INSERT INTO  [Dependent] (Essn, Dependent_Name, Sex, BDate, Relationship) VALUES (123456789, N'Alice', N'F', N'1978-12-31', N'Daughter')
INSERT INTO  [Dependent] (Essn, Dependent_Name, Sex, BDate, Relationship) VALUES (123456789, N'Elizabeth', N'F', N'1957-05-05', N'Spouse')
INSERT INTO  [Dependent] (Essn, Dependent_Name, Sex, BDate, Relationship) VALUES (123456789, N'Michael', N'M', N'1978-01-01', N'Son')

-- load table Dept_Locations

INSERT INTO Dept_Locations (DNUmber, DLocation) VALUES (1, N'Houston')
INSERT INTO Dept_Locations (DNUmber, DLocation) VALUES (4, N'Stafford')
INSERT INTO Dept_Locations (DNUmber, DLocation) VALUES (5, N'Bellaire')

-- load table Employee

INSERT INTO Employee (FName, Minit, LName, SSN, BDate, Address, Sex, Salary, SuperSSN, Dno) VALUES (N'John', N'B', N'Smith', 123456789, N'1955-01-09', N'731 Fondren, Houston, TX', N'M', 30000.00, 987654321, 5)
INSERT INTO Employee (FName, Minit, LName, SSN, BDate, Address, Sex, Salary, SuperSSN, Dno) VALUES (N'Franklin', N'T', N'Wong', 333445555, N'1945-12-08', N'638 Voss, Houston, TX', N'M', 40000.00, 987654321, 5)
INSERT INTO Employee (FName, Minit, LName, SSN, BDate, Address, Sex, Salary, SuperSSN, Dno) VALUES (N'Joyce', N'A', N'English', 453453453, N'1962-07-31', N'5631 Rice, Houston, TX', N'F', 25000.00, 987654321, 5)

-- load table Project

INSERT INTO Project (PName, PNumber, PLocation, DNum) VALUES (N'ProductX', 1, N'Bellaire', 5)
INSERT INTO Project (PName, PNumber, PLocation, DNum) VALUES (N'ProductY', 2, N'Sugarland', 5)
INSERT INTO Project (PName, PNumber, PLocation, DNum) VALUES (N'ProductZ', 3, N'Houston', 5)

-- load table Works_on
INSERT INTO Works_on (Essn, Pno, [Hours]) VALUES (123456789, 1, 32)
INSERT INTO Works_on (Essn, Pno, [Hours]) VALUES (123456789, 2, 8)
INSERT INTO Works_on (Essn, Pno, [Hours]) VALUES (333445555, 2, 10)

-- Setup referential integrity constraints

ALTER TABLE Department ADD CONSTRAINT FK_Department_Employee FOREIGN KEY(MgrSSN)
REFERENCES Employee(SSN)
GO

ALTER TABLE Dependent ADD CONSTRAINT FK_Dependent_Employee FOREIGN KEY(Essn)
REFERENCES Employee(SSN)
GO

ALTER TABLE Dept_Locations ADD CONSTRAINT FK_Dept_Locations_Department FOREIGN KEY(DNUmber)
REFERENCES Department(DNumber)
GO

ALTER TABLE Employee ADD CONSTRAINT FK_Employee_Department FOREIGN KEY(Dno)
REFERENCES Department(DNumber)
GO

ALTER TABLE Employee ADD CONSTRAINT FK_Employee_Employee FOREIGN KEY(SuperSSN)
REFERENCES Employee(SSN)
GO

ALTER TABLE Project ADD CONSTRAINT FK_Project_Department FOREIGN KEY(DNum)
REFERENCES Department(DNumber)
GO

ALTER TABLE Works_on ADD CONSTRAINT FK_Works_on_Employee FOREIGN KEY(Essn)
REFERENCES Employee(SSN)
GO

ALTER TABLE Works_on ADD CONSTRAINT FK_Works_on_Project FOREIGN KEY(Pno)
REFERENCES Project(PNumber)
GO
